<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>demo</title>
    </head>
    <script type="text/javascript" src="/static/js/require.js"></script>
    <body>
        <%- include widget/header/header.html%>
    </body>
    <script type="text/javascript">
        // file sync
        var base = require(['static/modules/base']);
        console.log(base);
        require(['widget/header/header', 'ui/tabs'], function (jquery) {
            console.log(arguments);
        });
    </script>
</html>
